<div id="footerwrap">
    <div class="container">
        <div class="row">
			<div class="col-md-4">
					<h4>Belka srl</h4>
					<div class="hline-w"></div>
				<p>
					P.Iva 02397550225<br>
					via Sanseverino 95<br> 
					c/o Impact Hub<br> 	
					Trento (TN)<br> 
					Italy<br>
					<br>
					<a href="mailto:hello@belka.us">hello@belka.us</a>
				</p>
			</div>
			<div class="col-md-4">
				<h4>News</h4>
				<div class="hline-w"></div>
				<p>
					<a href="http://belka.us/en/blog/">Blog</a><br>
					<a href="http://belka.us/en/portfolio/">Portfolio</a>
				</p>
			</div>
			<div class="col-md-4">
				<h4>Social</h4>
				<div class="hline-w"></div>
				<p>
                	<a href="https://www.facebook.com/BelkaDigitalLab" target="_blank">Facebook</a><br>
                	<a href="https://github.com/BelkaLab" target="_blank">Github</a><br>
    				<a href="https://twitter.com/BelkaDigitalLab" target="_blank">Twitter</a><br>
                	<a href="http://instagram.com/belkadigital" target="_blank">Instagram</a>
    			</p>
			</div>
        </div><! --/row -->
        <div class="row">
        	<div class="col-md-12">
        		<hr>
        		<p class="centered">
        			COPYRIGHT 2016 - BELKA SRL
        		</p>
        	</div>
        </div>
    </div><! --/container -->
</div><! --/footerwrap -->
