<!-- jQuery injection -->
<script src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<!-- jQuery plugins -->
<script src="{{ "/assets/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/isotope.pkgd.min.js" | prepend: site.baseurl }}"></script>
<script src="https://use.typekit.net/jza6rcj.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>

{% if site.analytics %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}

<script>
$(document).ready(function (){
	var $grid = $('.project-grid');

	$grid.isotope({
		itemSelector: '.project-item',
		masonry: {
      		columnWidth: 180,
      		gutter: 5
    	}
	});

	$('.filters').on('click', function (){
		$('.filters').each(function() {
			$(this).removeClass('button-checked');
		});

		var $this = $(this);
		var filterValue = $this.attr('data-filter');
		$this.addClass('button-checked');
		$grid.isotope({ filter: filterValue });
	});
});
</script>
